<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="mainTemplate.html :: layout">

<div th:fragment="content">

    <div class="container mt-4">

        <h2 class="mb-4">Registrar Préstamo</h2>

        <!-- MENSAJE EXITO -->
        <div th:if="${mensaje}" class="alert alert-success">
            <span th:text="${mensaje}"></span>
        </div>

        <!-- MENSAJE ERROR -->
        <div th:if="${error}" class="alert alert-danger">
            <span th:text="${error}"></span>
        </div>

        <form th:action="@{/prestamos/registrar}" method="post">

            <div class="mb-3">
                <label class="form-label">Fecha Préstamo</label>
                <input type="text"
                       class="form-control"
                       th:value="${fechaHoy}"
                       readonly>
            </div>

            <div class="mb-3">
                <label class="form-label">Fecha Devolución</label>
                <input type="date" name="fechaDevolucion"
                       class="form-control"
                       th:attr="min=${fechaHoy}"
                       required>
            </div>

            <!-- USUARIO -->
            <div class="mb-3">
                <label class="form-label">Usuario</label>

                <select name="usuarioId" class="form-control" required>

                    <option value="">Seleccione usuario</option>

                    <option th:each="u : ${usuarios}"
                            th:value="${u.id}"
                            th:text="${u.nombre}">
                    </option>

                </select>
            </div>

            <!-- LIBRO -->
            <div class="mb-3">

                <label class="form-label">Libro</label>

                <select name="isbn" class="form-control" required>

                    <option value="">Seleccione libro</option>

                    <option th:each="l : ${libros}"
                            th:value="${l.isbn}"
                            th:text="${l.titulo + ' (Disponibles: ' + l.cantDisponible + ')'}">
                    </option>

                </select>

            </div>

            <!-- CUPON -->
            <div class="mb-3">

                <label class="form-label">Cupón de descuento</label>

                <select name="cuponId" class="form-control">

                    <option value="">Sin cupón</option>

                    <option th:each="c : ${cupones}"
                            th:value="${c.id}"
                            th:text="${c.codigo + ' - Descuento: ' + c.descuento}">
                    </option>

                </select>

            </div>

            <button class="btn btn-primary">
                Registrar
            </button>

            <a th:href="@{/prestamos}" class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>

</html>